html,
body{
	margin: 0;
	padding: 0;
	font-family:"Thaoma" , "Arial", "helvetica";
	font-size:0.9em;
	width:100%;
	
}
#container{
	margin:0 auto;
	width:100%;
}

#head{
	background-color:#80aa1c;
	height: 74px;
	width:100%;
	
}
#slider{
	width:100%;
}
#logo{
	padding:14px 10px 10px 36px;
	float:left;
}
#menu ul li{
	display:inline;
}
#menu{
	display: block;
	padding: 21px 32px 0 7px;
	float:right;
}
#menu a{
	font-weight:normal;
	color:#FFF;
	text-decoration:none;
	padding: 25px 13px 42px;
}
#menu ul{
	margin-top: 3px;
	
}
#aboutme{
	height:488px;
	background-color:#fff;
}
#home{
	background-color:#000000;
}
.icon{
	padding:30px 68px 5px 102px;
	width:100%;
	height:185px;

}
.icon h3{
	width:100%;
	color:#656564;
	margin-left:66px;
}
.title{
	padding:8px 0 2px 54px;
}
#aboutme ul li{
	float:left;
	display:block;
}
.txt{
	color:#888888;
	font-family:"Tahoma" , "Arial", "helvetica";
	font-size:15px;
	display:block;
	width:100%;	
}
#programs{
	height:94px;
	width:100%;
	background-color:#80aa1c;
}
#work{
	height:1224px;
	width:100%;
	background:#FFF;
}
#photos{
	height:200px;
}
.gal{
	width:100%;
	list-style:none;
}

ul.gal li a {
    float: left;
    padding: 13px 12px 25px 10px;
    background:#80aa1c;
    border: 11px solid #FFF;
    margin-top:20px;
}
#list_program ul li{
	display:inline;
}
#list_program ul{
	float:left;
	
}
#list_program li{
	padding:56px;
}
#contact{
	background-color:#80aa1c;
	width:100%;
	height:126px;
}

#place{
	padding:65px 0px 0px 0px;
	float:left;
}
#mail{
	padding:60px;
	float:left;
}

.txt1{
	margin-left:105px;
	color:#fff;
	font-family:"Tahoma" , "Arial", "helvetica";
	font-size:19px;
}
.txt2{
	
	margin-top:-29px;
	margin-left:46px;
	color:#fff;
	font-family:"Tahoma" , "Arial", "helvetica";
	font-style:italic;
	font-size:14px;
}
#logo_footer{
	float:right;
	padding:35px 64px 20px 10px;
	
}

 a:hover{
	background-color:#000;
}

.photo{
	display:block;
	margin:auto;
	width:60%;
}
@media (max-width: 1200px){
	.focused_content{
		width:100%;	
	}

}

@media screen and (max-width: 1280px) {
	#programs{
		display:none;
	}
	#aboutme{
		display:none;
	}
		
}
@media screen and (max-width: 1365px) {
	
	#aboutme{
		display:none;
	}
		
}
hr {
	border: 0; 
	height: 12px; 
	box-shadow: inset 0 12px 12px -12px #80aa1c;
	width: 100%;
	size:8;
	margin-top:100px;
}


